@{
    var utilisateur = Session["Utilisateur"];
    var connexion = "NotConnected";

    if (utilisateur != null)
    {
        connexion = "Connected";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/materialize")

    <script>
        $(document).ready(function () {
            //JS SideNav mobile
            $(".button-collapse").sideNav({
            });
            //JS SideNav panier
            $('.sidenav').sideNav();

            //JS DropDown Navar

            $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            }
            );
            //Button back mobile
            function goBack() {
                window.history.back();
            }
        });
    </script>
</head>
<body>

    <header>
        @if (connexion == "NotConnected")
        {
            @Html.Partial("_NavbarOff");
        }
        else
        {
            @Html.Partial("_NavbarOn");
        }
    </header>

    <main>
        <div class="">
            @RenderBody()

            @*<hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
                </footer>*@
        </div>
    </main>

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)


    <script>
        function goBack() {
            window.history.back();
        }

        $(document).ready(function () {
            var data = {'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("GetPanierHtml", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                       $('.total').html(data.total);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        });


        function toast() {
            if ($('.total').html() == "0,00") {
                Materialize.toast('Votre Panier est vide !', 5000);
            } else {
                window.location.replace("/Commandes/Panier");
            }
        }
    </script>
</body>
</html>
