@{
    var utilisateur = (ATable.Models.Utilisateur)Session["Utilisateur"] ?? null;
    //var connexion = "NotConnected";

    //if (utilisateur != null)
    //{
    //    connexion = "Connected";
    //}
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/materialize")

    <script>
        $(document).ready(function () {
            //JS SideNav mobile
            $(".button-collapse").sideNav({
            });
            //JS SideNav panier
            $('.sidenav').sideNav();

            //JS DropDown Navar

            $('.dropdown-trigger').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: false, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: true, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            }
            );
            //Button back mobile
            function goBack() {
                window.history.back();
            }
        });
    </script>
</head>
<body>

    <header>
        @if (utilisateur == null)
        {
            @Html.Partial("_NavbarOff");
        }
        else
        {
            @Html.Partial("_NavbarOn");
        }

        <div class="fixed-action-btn click-to-toggle horizontal hide-on-large-only">
            <a class="btn-floating btn-large red z-depth-5">
                <i class="large material-icons">menu</i>
            </a>
            <ul>
                <li><a class="btn-floating red z-depth-5"><i class="material-icons">power_settings_new</i></a></li>
                <li><a class="btn-floating yellow darken-1 z-depth-5"><i class="material-icons">help</i></a></li>
                <li><a class="btn-floating z-depth-3" style="background-color:#2ECCC1"><i class="material-icons">restaurant</i></a></li>
                @if (utilisateur != null)
                {
                    <li><a class="btn-floating blue z-depth-5" href="@Url.Action("MonCompte","Utilisateurs")"><i class="material-icons medium">account_circle</i></a></li>
                }
                else
                {
                    <li><a class="btn-floating blue z-depth-5" onclick="$('#modal-connexion').openModal();"><i class="material-icons medium">account_circle</i></a></li>
                }
            </ul>
        </div>
    </header>


    <main>
        @RenderBody()

        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
            </footer>*@
    </main>

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)


    <script>     
        $(document).ready(function () {
            getPanierHtml();
        });

        function goBack() {
            window.history.back();
        }

        function getPanierHtml() {
            var data = {'idSession': '@Session.SessionID' };

            $.ajax({
                    url: '@Url.Action("GetPanierHtml", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        $('.sidePanier').html(data.panier);
                        $('.total').html(data.total);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }

        function toast() {
            if ($('.total').html() == "0,00") {
                Materialize.toast('Votre Panier est vide !', 5000);
            } else {
                window.location.replace("/Commandes/Panier");
            }
        }
    </script>
</body>
</html>
