@{
    var utilisateur = (ATable.Models.Utilisateur)Session["Utilisateur"];
}
<!--Dropdown user-->
    <ul id='dropdown-user' class='dropdown-content'>
        <li><a href="@Url.Action("MonCompte","Utilisateurs", new {id = utilisateur.IdUtilisateur })"><i class="far fa-user-circle fa-lg"></i>&nbsp;&nbsp;Compte</a></li>
        <li><a href="#"><i class="fas fa-utensils"></i>&nbsp;&nbsp;Clic'Eat !</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("Deconnexion","Utilisateurs", new {id = utilisateur.IdUtilisateur })"><i class="fas fa-power-off"></i>&nbsp;&nbsp;Sign Out</a></li>
    </ul>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="@Url.Action("Index", "Restaurants")" class="brand-logo">&nbsp;&nbsp;<i class="fas fa-utensils fa-lg"></i><span class="hide-on-small-and-down">&nbsp;&nbsp;A'&nbsp;Table !</span></a>
            <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only right waves-effect waves-light navPanier" onclick="toast()">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-basket fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="#" onclick="goBack()" class="button-collapse left"><i class="material-icons">arrow_back</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="@Url.Action("Faqs", "Utilisateurs")">Besoin d'aide ?</a></li>
                <li><a class="waves-effect waves-light navPanier" onclick="toast()"><span class="total" style="font-size:20px;">0</span>€&nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-basket fa-2x"></i></a></li>
                <li><a class="dropdown-trigger" data-activates='dropdown-user'>@utilisateur.Prenom @utilisateur.Nom[0].&nbsp;&nbsp;&nbsp;<i class="fas fa-user-circle fa-2x"></i></a></li>
            </ul>
        </div>
    </nav>
</div>

