@model ATable.Models.Utilisateur


<div class="container body-content">
    <div class="row valign-wrapper center-align">
        <div class="col s12 m6 offset-m3 valign">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2>Inscription</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="row">
                    <div class="input-field col s12 m6">
                        @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Matricule, "", new { @class = "text-danger" })
                        <label for="Prenom">Prenom</label>
                    </div>
                    <div class="input-field col s12 m6">
                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Matricule, "", new { @class = "text-danger" })
                        <label for="Nom">Nom</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.Matricule, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Matricule, "", new { @class = "text-danger" })
                        <label for="Matricule">N° de Matricule</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <label for="Password">Mot de passe</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <label for="Password">Valider mot de passe</label>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="S'inscrire" class="btn btn-default" />
                </div>

            </div>
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
