@model IEnumerable<ATable.Models.Commande>

@{
    ATable.Models.Utilisateur utilisateur = (ATable.Models.Utilisateur)Session["utilisateur"];
}


<div class="container body-content">
    <div class="row valign-wrapper center-align">
        <div class="col s12 valign">
            <h2>Mon Compte</h2>
            <hr />


            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#histo">Historique</a></li>
                        <li class="tab col s3"><a href="#motdepasse">Mot de Passe</a></li>
                    </ul>
                </div>
                <div id="histo" class="col s12 m10 offset-m1">
                    <table class="table table-panier">
                        <tr>
                            <td></td>
                            <td>Restaurant</td>
                            <td>Date de la commande</td>
                            <td>Total</td>
                            <td class="center-align">Etat</td>
                            <td></td>
                        </tr>

                        @foreach (var item in Model)
                        {
                        <tr class="card-panel hoverable"  onclick="document.location = 'Commandes/Details/' + @item.IdCommande;">
                            <td class="hide-on-small-and-down">
                                <img src="~/Images/restaurants/@item.Restaurant.Photos.FirstOrDefault().Nom" style="max-width:140px;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Restaurant.Nom)
                            </td>

                            <td class="hide-on-small-and-down">
                                @(String.Format("{0:d/MM/yyyy}", item.Date))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prix)&nbsp;€
                            </td>
                            <td class="center-align">
                                @Html.DisplayFor(modelItem => item.EtatCommande.Nom)
                            </td>
                            <td class="center-align">
                                
                            </td>
                        </tr>

                        }
                    </table>
                </div>
                @*<div id="motdepasse" class="col s12">
                    @using (Html.BeginForm("Edit", "Utilisateurs", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Modifiez votre mot de passe</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.IdUtilisateur)

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">
                                    lock_outline
                                </i>
                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "validate" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <label for="password">Mot de Passe</label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">
                                    lock_outline
                                </i>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <label for="password">Nouveau Mot de Passe</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">
                                    lock_outline
                                </i>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <label for="password">Confirmez votre nouveau Mot de Passe</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Modifier" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    }
                </div>*@
            </div>




        </div>
    </div>
</div>