@model ATable.Models.Restaurant

@{
    int idRestaurantPanier = 0;

    if (ViewBag.Error == "error")
    {
        idRestaurantPanier = ViewBag.IdRestaurantPanier;

        <script type="text/javascript">
            window.onload = function () {
                $('#modalErreur').openModal({dismissible:false});
            };
        </script>

        ViewBag.piValue = 3.14;

    }

    ATable.Models.Utilisateur utilisateur = ViewBag.User;
}

<div id="container-restaurant">

    <div id="menu">

        <ul id="slide-out" class="side-nav fixed">
            <li class="user-li">
                <div class="user-view">
                    <div class="background">
                    </div>
                    @if (utilisateur != null)
                    {
                        <div class="center-align">
                            <a href="@Url.Action("MonCompte", "Utilisateurs", new { id = utilisateur.IdUtilisateur })"><i class="fas fa-user fa-2x"></i>&nbsp;&nbsp;@utilisateur.Prenom&nbsp;@utilisateur.Nom</a>
                        </div>
                    }
                    else
                    {
                        <div class="center-align">
                            <a onclick="$('#modal-connexion').openModal();"><i class="fas fa-sign-in-alt fa-2x"></i><span style="font-size:20px;">&nbsp;&nbsp;Se Connecter</span></a>
                        </div>
                    }
                </div>
            </li>
            <li class="panier-li center-align">
                <a class="waves-effect waves-light navPanier" onclick="toast()">
                    <i class="fas fa-shopping-basket fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="total" style="font-size:20px;">0</span>€<sup>&nbsp;TTC</sup>
                </a>
            </li>
            <li class="lone sidePanier">
            </li>
        </ul>
    </div>

    <div id="content-restaurant">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <div class="row card card-small horizontal">
                            <div class="card-image col m4 pl-0 hide-on-small-and-down md">
                                <img class="materialboxed" src="~/Images/restaurants/@Model.Photos.First().Nom">
                            </div>
                            <div class="card-stacked col s12 m8">
                                <div class="card-content">
                                    <h4 class="courgette mt-0" style="text-decoration:underline;">@Model.Nom</h4>
                                    <div class="divider"></div>
                                    <div class="row mt-1">
                                        <div class="chip  deep-orange lighten-4 left">
                                            @Model.TypeCuisine.Nom
                                        </div>
                                        <div class="chip  teal lighten-4 right">
                                            @Model.Budget
                                        </div>
                                    </div>
                                    <p>@Model.Description</p>
                                    <div class="divider my-1"></div>
                                    <p class="left valign-wrapper"><i class="material-icons">location_on</i>&nbsp;&nbsp;@Model.Adresse, @Model.CodePostal @Model.Ville</p>
                                    <p class="right valign-wrapper"><i class="material-icons">local_phone</i>&nbsp;&nbsp;@Model.Tel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box carte-collapsible">

                        <ul class="collapsible popout ">
                            <li>
                                <div class="collapsible-header hoverable categorie-collapsible center-align"><h3 class="mb-0">- Menus -</h3></div>
                                <div class="collapsible-body">
                                    <table class="bordered">
                                        <tbody>
                                            @foreach (var item in Model.Menus)
                                            {
                                                <tr>
                                                    <td class="hide-on-small-and-down">
                                                    </td>
                                                    <td class="title-product">
                                                        @item.Nom
                                                    </td>
                                                    <td class="hide-on-small-and-down">
                                                    </td>
                                                    <td style="min-width:60px">
                                                        @item.Prix €
                                                    </td>
                                                    <td style="min-width:40px">
                                                        <button class="btn-floating btn-small waves-effect waves-light red right" onclick="openMenu(@item.IdMenu)"><i class="material-icons">add</i></button>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header hoverable categorie-collapsible center-align"><h3 class="mb-0">- Entrées -</h3></div>
                                <div class="collapsible-body">
                                    <table class="bordered">
                                        <tbody>
                                            @foreach (var item in Model.Produits.Where(i => i.IdCategorie == 1))
                                            {
                                                <tr>
                                                    <td class="hide-on-small-and-down">
                                                        <img src="~/Images/plats/@item.Photos.First().Nom" style="max-width:140px;" />
                                                    </td>
                                                    <td class="title-product">
                                                        @item.Nom
                                                    </td>
                                                    <td class="hide-on-small-and-down">
                                                        @item.Description
                                                    </td>
                                                    <td style="min-width:60px">
                                                        @item.Prix €
                                                    </td>
                                                    <td style="min-width:40px">
                                                        <button class="btn-floating btn-small waves-effect waves-light red" onclick="addProduit(@item.IdProduit)"><i class="material-icons">add</i></button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header hoverable categorie-collapsible center-align"><h3 class="mb-0">- Plats -</h3></div>
                                <div class="collapsible-body">
                                    <table class="bordered">
                                        <tbody>
                                            @foreach (var item in Model.Produits.Where(i => i.IdCategorie == 2))
                                            {
                                                <tr>
                                                    <td class="hide-on-small-and-down">
                                                        <img src="~/Images/plats/@item.Photos.First().Nom" style="max-width:140px;" />
                                                    </td>
                                                    <td class="title-product">
                                                        @item.Nom
                                                    </td>
                                                    <td class="hide-on-small-and-down">
                                                        @item.Description
                                                    </td>
                                                    <td style="min-width:60px">
                                                        @item.Prix €
                                                    </td>
                                                    <td style="min-width:40px">
                                                        <button class="btn-floating btn-small waves-effect waves-light red" onclick="addProduit(@item.IdProduit)"><i class="material-icons">add</i></button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header hoverable categorie-collapsible center-align"><h3 class="mb-0">- Desserts -</h3></div>
                                <div class="collapsible-body">
                                    <table class="bordered">
                                        <tbody>
                                            @foreach (var item in Model.Produits.Where(i => i.IdCategorie == 3))
                                            {
                                                <tr>
                                                    <td class="hide-on-small-and-down">
                                                        <img src="~/Images/plats/@item.Photos.First().Nom" style="max-width:140px;" />
                                                    </td>
                                                    <td class="title-product">
                                                        @item.Nom
                                                    </td>
                                                    <td class="hide-on-small-and-down">
                                                        @item.Description
                                                    </td>
                                                    <td style="min-width:60px">
                                                        @item.Prix €
                                                    </td>
                                                    <td style="min-width:40px">
                                                        <button class="btn-floating btn-small waves-effect waves-light red" onclick="addProduit(@item.IdProduit)"><i class="material-icons">add</i></button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal d'annulation panier-->
<div id="modalErreur" class="modal">
    <div class="modal-content center-align p-1">
        <h4>Attention, votre panier contient déjà des produits !</h4>
        <div class="divider"></div>
        <p>
            Votre panier contient des produits d'un autre restaurant.
            Pour rappel, vous pouvez commander auprès d'un seul restaurateur à la fois.
        </p>
    </div>
    <div class="modal-footer">
        <button onclick="clearPanier()" class="modal-close btn  left" style="background-color: #FF7C7C;"><i class="material-icons left">delete</i>Vider mon panier</button>
        <a href=@Url.Action("Carte", "Restaurants", new { id = idRestaurantPanier }) class=" btn"><i class="material-icons right">arrow_forward</i>Continuer ma commande</a>
    </div>
</div>


<!--Modal commande Menu -->
<div id="modalMenu" class="modal">
    <div id="MenuContent" class="modal-content">
    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();

        });


        function openMenu(idMenu) {
            $('#MenuContent').load('/Restaurants/GetMenu/' + idMenu);
            $('#modalMenu').openModal();         
        };

        function clearPanier() {
                let data = {'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("ClearPanier", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        getPanierHtml();
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        };

        function addProduit(idProduit) {
            let data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("AddProduit", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        $('.sidePanier').html(data.panier);
                        $('.total').html(data.total);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }


        function removeProduit(idProduit) {
            let data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

            $.ajax({
                url: '@Url.Action("RemoveProduit", "WebService")',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                DataType: 'json',
                success: function (data) {
                    $('.sidePanier').html(data.panier);
                    $('.total').html(data.total);
                },
                error: function () {
                    alert('Error');
                }
            });
        };

        function next(nbTab) {
            switch (nbTab) {
                case 1:
                    $('a[href="#tabplat"]').click();
                    break;
                case 2:
                     $('a[href="#tabdessert"]').click();
                    break;
                default:
                    console.log('error');
            }
        };

        function previous(nbTab) {
            switch (nbTab) {
                case 2:
                     $('a[href="#tabentree"]').click();
                    break;
                case 3:
                     $('a[href="#tabplat"]').click();
                    break;
                default:
                    console.log('error');
            }
        };

        let menu = {};

        //à adapter !
        function selectProduct(idProduit, idCategorie) {
            //si le produit avait déjà été sélectionné :
            if ($('#' + idProduit).hasClass('z-depth-5 deep-orange lighten-3')) {
                $('#' + idProduit).removeClass('z-depth-5 deep-orange lighten-3');
                if (idCategorie == 1) {
                    $('#btnNextOne').addClass('disabled');
                    $('#liPlat').addClass('disabled');
                    $('#liDessert').addClass('disabled');
                    delete menu[entree]
                } else if (idCategorie == 2) {
                    $('#btnNextTwo').addClass('disabled');
                    $('#liDessert').addClass('disabled');
                    delete menu[plat]
                } else if (idCategorie == 3) {
                    $('#btnValidationMenu').addClass('disabled');
                    delete menu[dessert]

                }
            //si le produit n'a pas déjà été sélectionné
            } else {
                $('.' + idCategorie).removeClass('z-depth-5 deep-orange lighten-3');
                $('#' + idProduit).addClass('z-depth-5  deep-orange lighten-3');
                if (idCategorie == 1) {
                    $('#btnNextOne').removeClass('disabled');
                    $('#liPlat').removeClass('disabled');
                    menu.entree = idProduit;
                } else if (idCategorie == 2) {
                    $('#btnNextTwo').removeClass('disabled');
                    $('#liDessert').removeClass('disabled');
                    menu.plat = idProduit;
                } else if (idCategorie == 3) {
                    $('#btnValidationMenu').removeClass('disabled');
                    menu.dessert = idProduit;
                }
            }
        }

        function addMenu(idMenu) {
             let data = { 'idMenu': idMenu, 'idProduits' : Object.values(menu), 'idSession': '@Session.SessionID' };

            $.ajax({
                url: '@Url.Action("AddMenu", "WebService")',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                DataType: 'json',
                success: function (data) {
                    $('.sidePanier').html(data.panier);
                    $('.total').html(data.total);
                    //$('#modalMenu').toggle(false);
                    //$('.lean-overlay').remove();

                },
                error: function () {
                    alert('Error');
                }
            });
        };

         $('.button-collapse').sideNav({
              menuWidth: 300, // Default is 300
              edge: 'left', // Choose the horizontal origin
              closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
              draggable: true // Choose whether you can drag to open on touch screens,
         });
        
    </script>
}
