@{
    ViewBag.Title = "Details";

    if (ViewBag.Error == "error")
    {
        var idRestaurantPanier = ViewBag.Error.idRestaurantPanier;

        <script type="text/javascript">
            window.onload = function () {
               $('.modal').openModal();
            };
        </script>
    }

    List<ATable.Models.Produit> entree = ViewBag.Entree;
    List<ATable.Models.Produit> plat = ViewBag.Plat;
    List<ATable.Models.Produit> dessert = ViewBag.Dessert;
    ATable.Models.Restaurant restaurant = ViewBag.Restaurant;
    ATable.Models.Utilisateur utilisateur = ViewBag.User;
}


<div class="menu">
    <ul id="slide-out" class="side-nav fixed main-side side-nav-menu">
        <li class="user-li">
            <div class="user-view">
                <div class="background">
                </div>
                @if (utilisateur != null)
                {
                    <div class="center-align">
                        <a href="@Url.Action("MonCompte", "Utilisateurs", new { id = utilisateur.IdUtilisateur })"><i class="fas fa-user fa-lg"></i>&nbsp;&nbsp;@utilisateur.Prenom&nbsp;@utilisateur.Nom</a>
                    </div>
                }
                else
                {
                    <div class="center-align">
                        <a href="@Url.Action("Connexion", "Utilisateurs")"><i class="fas fa-sign-in-alt fa-lg"></i>&nbsp;&nbsp;Se Connecter</a>
                    </div>
                }
            </div>
        </li>
        <li class="btn-li center-align">
            <a class="waves-effect waves-light navPanier" href=@Url.Action("Panier", "Commandes", new { id = restaurant.IdRestaurant })>
                <i class="fas fa-shopping-basket fa-2x"></i>&nbsp;&nbsp;Panier :&nbsp;&nbsp;<span class="total" style="font-size:20px;">0</span>€<sup>&nbsp;TTC</sup>
            </a>
        </li>
        <li class="lone sidePanier">
        </li>
    </ul>
</div>

<div class="row">
    <div class="col s12 m12 l9 offset-l2 xl10 offset-xl2">

        <div class="col s12">
            <div class="row card card-small horizontal">
                <div class="card-image col m4 pl-0 hide-on-small-and-down">
                    <img class="materialboxed" src="~/Images/restaurants/@restaurant.Photos.First().Nom">
                </div>
                <div class="card-stacked col s12 m8">
                    <div class="card-content">
                        <h4 class="courgette mt-0" style="text-decoration:underline;">@restaurant.Nom</h4>
                        <hr />
                        <div class="row">
                            <div class="chip  deep-orange lighten-3 left">
                                @restaurant.TypeCuisine.Nom
                            </div>
                            <div class="chip  teal lighten-3 right">
                                @restaurant.Budget
                            </div>
                        </div>
                        <p>@restaurant.Description</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="box carte-collapsible">

            <ul class="collapsible popout ">
                <li>
                    <div class="collapsible-header hoverable categorie-collapsible"><h3>Entrées</h3></div>
                    <div class="collapsible-body">
                        <table class="bordered">
                            <tbody>
                                @foreach (var item in entree)
                                {
                                    <tr>
                                        <td class="hide-on-small-and-down">
                                            <img src="~/Images/plats/@item.Photos.First().Nom" style="max-width:140px;" />
                                        </td>
                                        <td class="title-product">
                                            @item.Nom
                                        </td>
                                        <td class="hide-on-small-and-down">
                                            @item.Description
                                        </td>
                                        <td style="min-width:60px">
                                            @item.Prix €
                                        </td>
                                        <td style="min-width:40px">
                                            <button class="btn-floating btn-small waves-effect waves-light red add" data-idproduit=@item.IdProduit><i class="material-icons">add</i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header hoverable categorie-collapsible"><h3>Plats</h3></div>
                    <div class="collapsible-body">
                        <table class="bordered">
                            <tbody>
                                @foreach (var item in plat)
                                {
                                    <tr>
                                        <td class="hide-on-small-and-down">
                                            <img src="~/Images/plats/@item.Photos.First().Nom" style="max-width:140px;" />
                                        </td>
                                        <td class="title-product">
                                            @item.Nom
                                        </td>
                                        <td class="hide-on-small-and-down">
                                            @item.Description
                                        </td>
                                        <td style="min-width:60px">
                                            @item.Prix €
                                        </td>
                                        <td style="min-width:40px">
                                            <button class="btn-floating btn-small waves-effect waves-light red add" data-idproduit=@item.IdProduit><i class="material-icons">add</i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header hoverable categorie-collapsible"><h3>Desserts</h3></div>
                    <div class="collapsible-body">
                        <table class="bordered">
                            <tbody>
                                @foreach (var item in dessert)
                                {
                                    <tr>
                                        <td class="hide-on-small-and-down">
                                            <img src="~/Images/plats/@item.Photos.First().Nom" style="max-width:140px;" />
                                        </td>
                                        <td class="title-product">
                                            @item.Nom
                                        </td>
                                        <td class="hide-on-small-and-down">
                                            @item.Description
                                        </td>
                                        <td style="min-width:60px">
                                            @item.Prix €
                                        </td>
                                        <td style="min-width:40px">
                                            <button class="btn-floating btn-small waves-effect waves-light red add" data-idproduit=@item.IdProduit><i class="material-icons">add</i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Modal d'annulation panier-->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Attention, une commande est en cours !</h4>
        <p>
            Votre panier contient des produits d'un autre restaurant. 
            Pour rappel, vous ne pouvez commander auprès d'un seul restaurateur à la fois. 
            Souhaitez-vous poursuivre la commande en cours ou bien vider votre panier et poursuivre chez un autre restaurateur ?
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Vider mon panier</a>
        <a href=@Url.Action("Details","Restaurants", new { id = item.IdRestaurant }) class="modal-close waves-effect waves-green btn-flat">Continuer ma commande</a>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();


            var data = {'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("GetPanierHtml", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                           $('.sidePanier').html(data.panier);

                    },
                    error: function () {
                        alert('Error');
                    }
                });

            $('.side-nav li').click(function () {
                $('.side-nav li.active').removeClass('active');
                $(this).closest('li').addClass('active');
            });

        });

        $(".add").click(function () {

                var data = { 'idProduit' : $(this).data('idproduit'), 'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("AddProduit", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        $('.sidePanier').html(data.panier);
                        $('.total').html(data.total);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            });

        function removeProduit(idProduit) {
            var data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("removeProduit", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        $('.sidePanier').html(data.panier);
                        $('.total').html(data.total);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        }

    </script>
}
