
@{
    List<ATable.Models.Restaurant> restaurants = ViewBag.Restaurants;
    List<ATable.Models.TypeCuisine> typeCuisines = ViewBag.TypeCuisines;
}


<div class="container body-content">

    <!--Tabs-->
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#ParSpecialite">Par Specialité</a></li>
                <li class="tab col s3"><a href="#ParRestaurant">Par Restaurant</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 ui-widget">
                    <i class="material-icons prefix">search</i>
                    <input id="searchInput" type="text" class="autocomplete">
                    <label for="searchInput">Envie de manger...</label>
                </div>
            </div>
        </form>
    </div>

    <!--ParSpecialite-->
    <div id="ParSpecialite">
        <div class="row">
            @foreach (var item in typeCuisines)
            {
                <div class="col s12 m6 l4 search">
                    <div class="card z-depth-1 hoverable">
                        <div class="card-image">
                            <a href=@Url.Action("ParSpecialite","Restaurants", new {id = item.IdTypeCuisine })>
                                <img class="lightbox" style="max-height:280px;" src=@item.Photo alt=@item.Nom>
                                <span class="card-title-custom">@item.Nom</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <!--ParRestaurant-->
    <div id="ParRestaurant">
        <div class="row">
            @foreach (var item in restaurants)
            {

                <div class="col s12 search hide-on-small-and-down">
                    <div class="row card card-small horizontal">
                        <div class="card-image col s4 pl-0">
                            <img src="~/Images/Aubergeade.jpg" class="imgtest">
                        </div>
                        <div class="card-stacked col s8">
                            <div class="card-content">
                                <h4 class="courgette mt-0">@item.Nom</h4>
                                <hr />
                                <div class="row">
                                    <div class="chip  deep-orange lighten-3 left">
                                        @item.TypeCuisine.Nom
                                    </div>
                                    <div class="chip  teal lighten-3 right">
                                        @item.Budget
                                    </div>
                                </div>
                                <p>@item.Description</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="@Url.Action("Details", "Restaurants", new { id = item.IdRestaurant })" style="background-color:#26a69a" class="btn"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Voir la carte</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l3 search hide-on-med-and-up">
                    <div class="card sticky-action hoverable small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/Images/Aubergeade.jpg">
                            <span class="card-title">
                                @item.Nom
                            </span>
                        </div>
                        <div class="card-content">
                            @item.TypeCuisine.Nom
                            @item.Budget
                        </div>
                        <div class="card-action center-align">
                            <a href="@Url.Action("Details", "Restaurants", new { id = item.IdRestaurant })" style="background-color:#26a69a" class="btn"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Voir la carte</a>
                        </div>
                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">
                                @item.Nom
                                <i class="material-icons right">close</i>
                            </span>
                            @item.TypeCuisine.Nom
                            <br />
                            @item.Description
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("div.search").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
}