
@{
    List<ATable.Models.Restaurant> restaurants = ViewBag.Restaurants;
    List<ATable.Models.TypeCuisine> typeCuisines = ViewBag.TypeCuisines;
}


<div class="container body-content">

    <!--Tabs-->
    <div class="row z-depth-1">
        <div class="col s12 p-0">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#ParSpecialite">Spécialités</a></li>
                <li class="tab col s3"><a href="#ParRestaurant">Restaurants</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 ui-widget">
                    <i class="material-icons prefix">search</i>
                    <input id="searchInput" type="text" class="autocomplete">
                    <label for="searchInput">Envie de manger...</label>
                </div>
            </div>
        </form>
    </div>

    <!--ParSpecialite-->
    <div id="ParSpecialite">
        <div class="row">
            @foreach (var item in typeCuisines)
            {
                <div class="col s12 m6 l4 search">
                    <div class="card z-depth-1 hoverable">
                        <div class="card-image">
                            <a href=@Url.Action("ParSpecialite","Restaurants", new {id = item.IdTypeCuisine })>
                                <img class="lightbox" style="max-height:280px;" src="~/Images/typeCuisines/@item.Photo" alt=@item.Nom>
                                <span class="card-title-custom">@item.Nom</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <!--ParRestaurant-->
    <div id="ParRestaurant">
        <div class="row">
            @foreach (var item in restaurants)
            {

                <div class="col s12 search hide-on-small-and-down ">
                    <div class="row card card-small hoverable horizontal">
                        <div class="card-image col s4 pl-0 lg">
                            <img class="materialboxed" src="~/Images/restaurants/@item.Photos.First().Nom">
                        </div>
                        <div class="card-stacked col s8">
                            <div class="card-content">
                                <h4 class="courgette mt-0">@item.Nom</h4>
                                <hr />
                                <div class="row">
                                    <div class="chip z-depth-1 deep-orange lighten-3 left">
                                        @item.TypeCuisine.Nom
                                    </div>
                                    <div class="chip z-depth-1 teal lighten-3 right">
                                        @item.Budget
                                    </div>
                                </div>
                                <p>@item.Description</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="@Url.Action("Carte", "Restaurants", new { id = item.IdRestaurant })" style="background-color:#26a69a" class="btn"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Voir la carte</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 search hide-on-med-and-up">
                        <div class="card">
                            <div class="card-image">
                                <img src="~/Images/restaurants/@item.Photos.First().Nom">
                                <span class="card-title-custom">@item.Nom</span>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <p class="chip left z-depth-1 deep-orange lighten-3">@item.TypeCuisine.Nom</p>
                                    <p class="chip right z-depth-1 teal lighten-3">@item.Budget</p>
                                </div>
                                <p>@item.Description</p>
                            </div>
                            <div class="card-action center-align">
                                <a href="@Url.Action("Carte", "Restaurants", new { id = item.IdRestaurant })" style="background-color:#26a69a" class="btn "><i class="fas fa-book-open"></i>&nbsp;&nbsp;Voir la carte</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("div.search").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}