
@{
    ViewBag.Title = "Cuisine";

    List<ATable.Models.Restaurant> restaurants = ViewBag.RestoByCuisine;
    ATable.Models.TypeCuisine typeCuisine = ViewBag.TypeCuisine;

    int nbRestultat = restaurants.Count();

}

    <div class="container body-content">
        <div class="card-panel center-align p-0" >
            <h3 class="courgette">@typeCuisine.Nom</h3>
        </div>
        <h5><i>&nbsp;@nbRestultat.ToString() restaurants trouvés !</i></h5>

        <div class="divider"></div>
        <div class="box">

            <div class="row">
                @foreach (var item in restaurants)
                {
                    <div class="col s12 search hide-on-small-and-down ">
                        <div class="row card card-small hoverable horizontal">
                            <div class="card-image col s4 pl-0 lg">
                                <img class="materialboxed" src="~/Images/restaurants/@item.Photos.First().Nom">
                            </div>
                            <div class="card-stacked col s8">
                                <div class="card-content">
                                    <h4 class="courgette mt-0">@item.Nom</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="chip z-depth-1 deep-orange lighten-3 left">
                                            @item.TypeCuisine.Nom
                                        </div>
                                        <div class="chip z-depth-1  teal lighten-3 right">
                                            @item.Budget
                                        </div>
                                    </div>
                                    <p>@item.Description</p>
                                </div>
                                <div class="card-action center-align">
                                    <a href="@Url.Action("Carte", "Restaurants", new { id = item.IdRestaurant })" style="background-color:#26a69a" class="btn"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Voir la carte</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 search hide-on-med-and-up">
                            <div class="card">
                                <div class="card-image">
                                    <img src="~/Images/restaurants/@item.Photos.First().Nom">
                                    <span class="card-title-custom">@item.Nom</span>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <p class="chip left z-depth-1 deep-orange lighten-3">@item.TypeCuisine.Nom</p>
                                        <p class="chip right z-depth-1 teal lighten-3">@item.Budget</p>
                                    </div>
                                    <p>@item.Description</p>
                                </div>
                                <div class="card-action center-align">
                                    <a href="@Url.Action("Carte", "Restaurants", new { id = item.IdRestaurant })" style="background-color:#26a69a" class="btn "><i class="fas fa-book-open"></i>&nbsp;&nbsp;Voir la carte</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>