@model ATable.Models.PanierModel

@{
    ViewBag.Title = "Panier";

    string isConnected = Session["Utilisateur"] != null ? "true" : "false";

    string previousPage = Request.UrlReferrer.ToString();

}


<div class="container body-content">
    <div class="row valign-wrapper center-align">
        <div class="col s12 m10 offset-m1 valign">
            <h2 class="courgette">Récapitulatif de votre panier</h2>

            @if (Model != null && Model.Count() > 0)
            {
                <table class="table table-panier">

                    @foreach (ATable.Models.ItemPanier item in Model)
                    {
                        <tr class="card-panel @item.GetIdProduit()">

                            <td>
                                @Html.DisplayFor(modelItem => item.Photo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>

                            <td class="hide-on-small-and-down">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @(item.Prix * item.Quantite)&nbsp;€
                            </td>
                            <td class="center-align">
                                <button class="btn-floating btn-small waves-effect waves-light red add" data-idproduit=@item.GetIdProduit()><i class="material-icons">add</i></button>
                            </td>
                            <td class="center-align">
                                <span id="@item.GetIdProduit()">@item.Quantite</span>
                            </td>
                            <td class="center-align">
                                <button class="btn-floating btn-small waves-effect waves-light red remove" data-idproduit=@item.GetIdProduit()><i class="material-icons">remove</i></button>
                            </td>
                        </tr>

                    }
                    <tr class="card-panel">
                        <td></td>
                        <td class="hide-on-small-and-down"></td>
                        <td class="right"><h5><strong>TOTAL :</strong></h5></td>
                        <td><h5><span class="total"></span>&nbsp;€<sup>&nbsp;TTC</sup></h5></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
                <a class="waves-effect waves-light btn-large col s12 m6 offset-m3" id="payer">
                    <i class="fas fa-check fa-lg"></i>&nbsp;&nbsp;Payer&nbsp;&nbsp;
                </a>
            }
        </div>
    </div>
</div>

<!--Modal connexion-->
<div id="modal1" class="modal">
    <div class="modal-content center">
        <h4>Connexion</h4>

        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <i class="material-icons prefix">
                    account_circle
                </i>
                <input type="text" />
                <label for="Matricule">N° de Matricule</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
                <i class="material-icons prefix">
                    lock_outline
                </i>
                <input type="password" />
                <label for="Password">Mot de Passe</label>
            </div>
        </div>

        <div class="row center">
            <a href="#">Mot de passe oublié ?</a>
        </div>

        @*<div class="row center">
                <a href="@Url.Action("","", new { matricule = , password = , preivousPage = Request.UrlReferrer.ToString() })">Se Connecter</a>
            </div>*@

        @*<div class="row center">
                <input type="submit" value="Se connecter" class="btn btn-default" />
            </div>*@

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="btnConnexion">Connexion</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#payer").click(function () {
                if (@isConnected) {
                    SaveCommandeWS();
                } else {
                    $('.modal').openModal();
                }
            });
        });

        function SaveCommandeWS() {
            var data = { 'idSession': '@Session.SessionID' };

            $.ajax({
                    url: '@Url.Action("SaveCommande", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {

                        @*@Url.Action("Scooter", "");*@
                        //show message success
                    },
                    error: function () {
                        //show message error
                        alert('Error');
                    }
            });
        }

        @*function LoginWS() {
            var matricule = $('#matricule').val();
            var password = $('#password').val();

            if (matricule != "" && password != "") {

                var data = { 'idSession': '@Session.SessionID', 'matricule': matricule, 'password': password };

                $.ajax({
                        url: '@Url.Action("Login", "WebService")',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        DataType: 'json',
                    success: function (data) {
                        if (data.error == 0) {
                            $('.modal').close();
                            window.location.reload(false);
                        }
                            //show message success
                        },
                        error: function () {
                            //show message error
                            alert('Error');
                        }
                });
            }
        }*@

        @*function LoginWS() {
                                            alert('test');

            var matricule = $('#matricule').val();
            var password = $('#password').val();

            if (matricule != "" && password != "") {

                var data = { 'matricule': matricule, 'password': password, 'previousPage': @previousPage };

                $.ajax({
                        url: '@Url.Action("ConnexionModal", "Utilisateurs")',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        DataType: 'json',
                    success: function (data) {
                        if (data.error == 0) {
                            $('.modal').close();
                        }
                            //show message success
                        },
                        error: function () {
                            //show message error
                            alert('Error');
                        }
                });
            }
        }*@


        $(".add").click(function () {
                 var idProduit = $(this).data('idproduit');

                 var Qte = $('#'+idProduit).html();

            var data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("AddProduit", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        var Quantite = parseInt(Qte) + 1;
                        $('#' + idProduit).html(Quantite);
                        $('.total').html(data.total);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            });

        $(".remove").click(function () {
            var idProduit = $(this).data('idproduit');

            var Qte = $('#'+idProduit).html();

            var data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("RemoveProduit", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        var Quantite = parseInt(Qte) - 1;
                        if (Quantite > 0) {
                           $('#' + idProduit).html(Quantite);
                        } else {
                            $('tr.' + idProduit).remove('tr.' + idProduit);
                        }
                         $('.total').html(data.total);
                        if ($('.total').html() == "0,00") {
                            $('a#payer').remove('a#payer');
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            });
    </script>
}
