@model ATable.Models.PanierModel

@{
    ViewBag.Title = "Panier";

    string isConnected = Session["Utilisateur"] != null ? "true" : "false";

    ATable.Models.Utilisateur utilisateur = (ATable.Models.Utilisateur)Session["Utilisateur"] ?? null;


    string previousPage = Request.UrlReferrer.ToString();

}


<div class="container body-content">
    <div class="row valign-wrapper center-align">
        <div class="col s12 m10 offset-m1 valign">
            <h2 class="courgette">Récapitulatif de votre panier</h2>

            @if (Model != null && Model.Count() > 0)
            {
                <a class="waves-effect waves-light btn-large col s12 m6 offset-m3" href="@Url.Action("Carte","Restaurants", new { id = Model.FirstOrDefault().IdRestaurant})">
                    <i class="fas fa-arrow-left fa-lg"></i>&nbsp;&nbsp;Retour à la carte&nbsp;&nbsp;
                </a>
                <table class="table table-panier">

                    @foreach (ATable.Models.ItemPanier item in Model)
                    {
                        <tr class="card-panel @item.GetIdProduit()">

                            <td class="hide-on-small-and-down">
                                <img src="~/Images/plats/@item.Photo" style="max-width:140px;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)&nbsp;
                            </td>

                            <td class="hide-on-small-and-down">
                                @Html.DisplayFor(modelItem => item.Description)&nbsp;
                            </td>
                            <td>
                                @(item.Prix * item.Quantite)&nbsp;€
                            </td>
                            <td class="center-align">
                                <button class="btn-floating btn-small waves-effect waves-light red add" data-idproduit=@item.GetIdProduit()><i class="material-icons">add</i></button>
                            </td>
                            <td class="center-align">
                                <span id="@item.GetIdProduit()">@item.Quantite</span>
                            </td>
                            <td class="center-align">
                                <button class="btn-floating btn-small waves-effect waves-light red remove" data-idproduit=@item.GetIdProduit()><i class="material-icons">remove</i></button>
                            </td>
                        </tr>

                    }
                    <tr class="card-panel">
                        <td class="hide-on-small-and-down">&nbsp;</td>
                        <td class="hide-on-small-and-down">&nbsp;</td>
                        <td class="right"><h5><strong>TOTAL :</strong></h5></td>
                        <td><h5><span class="total"></span>&nbsp;€</h5></td>
                        <td class="hide-on-small-and-down">&nbsp;</td>
                        <td class="hide-on-small-and-down">&nbsp;</td>
                        <td class="hide-on-small-and-down">&nbsp;</td>
                    </tr>

                </table>
                <div class="row">
                        <a class=" customred waves-effect waves-light btn-large" onclick="openModal()" id="vider">
                            <i class="far fa-trash-alt fa-lg"></i>&nbsp;&nbsp;Vider mon panier&nbsp;&nbsp;
                        </a>
                        <a class=" waves-effect waves-light btn-large" id="payer">
                            <i class="fas fa-check fa-lg"></i>&nbsp;&nbsp;Payer&nbsp;&nbsp;
                        </a>
                </div>

            }
        </div>
    </div>
</div>

<!-- Modal Validation Commande -->
<div id="modalValidation" class="modal">
    <div class="modal-content center-align">
        <h4>Votre commande a été validée !</h4>
        <div class="divider"></div>
        <i class="far fa-thumbs-up fa-9x mt-2"></i>
        <div class="modal-footer center-align">
            @if (utilisateur != null)
            {
                <a href="@Url.Action("MonCompte","Utilisateurs", new {id = utilisateur.IdUtilisateur })" class="modal-close waves-effect waves-green btn">Voir ma commande</a>
            }
        </div>
    </div>
</div>

<!-- Modal vider panier -->

<div id="modalRemovePanier" class="modal">
    <div class="modal-content center-align">
        <h4>Vider votre panier ?</h4>
        <div class="divider"></div>
        <div class="modal-footer">
            <button class="modal-close btn-flat left"><i class="fas fa-arrow-left fa-lg"></i>&nbsp;&nbsp;Continuer ma commande&nbsp;&nbsp;</button>
            <button class="modal-close customred waves-effect waves-light btn-large right" onclick="clearPanier()"><i class="far fa-trash-alt fa-lg"></i>&nbsp;&nbsp;Vider mon panier&nbsp;&nbsp;</button>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $("#payer").click(function () {
                if (@isConnected) {
                    SaveCommandeWS();
                } else {
                    $('#modal-connexion').openModal();
                }
            });
        });

        function SaveCommandeWS() {
            var data = { 'idSession': '@Session.SessionID' };

            $.ajax({
                    url: '@Url.Action("SaveCommande", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (statementReturn) {
                        if (statementReturn = "soldeError") {
                            Materialize.toast("Votre solde est insuffisant !", 5000);
                        } else if (statementReturn = "commmandeOk") {
                            $('#modalValidation').openModal({ dismissible: false });
                        } else if (statementReturn = "errorProcess") {
                            Materialize.toast("Une erreur est survenue !", 5000);
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
            });
        }

        $(".add").click(function () {
                 var idProduit = $(this).data('idproduit');

                 var Qte = $('#'+idProduit).html();

            var data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("AddProduit", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        var Quantite = parseInt(Qte) + 1;
                        $('#' + idProduit).html(Quantite);
                        $('.total').html(data.total);
                    },
                    error: function () {
                        alert('Error');
                    }
                });
            });

        $(".remove").click(function () {
            var idProduit = $(this).data('idproduit');

            var Qte = $('#'+idProduit).html();

            var data = { 'idProduit': idProduit, 'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("RemoveProduit", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        var Quantite = parseInt(Qte) - 1;
                        if (Quantite > 0) {
                           $('#' + idProduit).html(Quantite);
                        } else {
                            $('tr.' + idProduit).remove('tr.' + idProduit);
                        }
                         $('.total').html(data.total);
                        if ($('.total').html() == "0,00") {
                            $('a#payer').remove('a#payer');
                            $('a#vider').remove('a#vider');

                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        });

        function openModal() {
            $('#modalRemovePanier').openModal();
        }

        function clearPanier() {
                let data = {'idSession': '@Session.SessionID' };

                $.ajax({
                    url: '@Url.Action("ClearPanier", "WebService")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    DataType: 'json',
                    success: function (data) {
                        $('a#payer').remove('a#payer');
                        $('a#vider').remove('a#vider');
                    },
                    error: function () {
                        alert('Error');
                    }
                });
        };
    </script>
}
